# [dbo].[Users]

In [0]:
USE [User]
GO

In [0]:
/****** Object:  Table [dbo].[Users]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[Designation] [nchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[City] [nchar](100) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (12, N'John Doe                                                                                            ', N'Software Engineer                                                                                   ', 21, N'New York                                                                                            ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (13, N'Jane Smith                                                                                          ', N'Data Analyst                                                                                        ', 22, N'San Francisco                                                                                       ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (14, N'Bob Johnson                                                                                         ', N'Network Administrator                                                                               ', 35, N'Los Angeles                                                                                         ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (15, N'Alice Williams                                                                                      ', N'UI/UX Designer                                                                                      ', 22, N'Chicago                                                                                             ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (16, N'Charlie Brown                                                                                       ', N'System Administrator                                                                                ', 40, N'Boston                                                                                              ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (17, N'Vipin                                                                                               ', N'Full Stack Developer                                                                                ', 22, N'Kurla                                                                                               ', 1)
INSERT [dbo].[Users] ([Id], [Name], [Designation], [Age], [City], [IsActive]) VALUES (18, N'Ashish                                                                                              ', N'VFX Designer                                                                                        ', 21, N'Thane                                                                                               ', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

# [DF__Users__IsActive__398D8EEE]

In [0]:
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO

# [dbo].[CreateUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CreateUser](
@Name varchar(100),
@Designation varchar(100),
@Age int,
@City varchar(100)
)
as begin

insert into [User].[dbo].[Users](Name,Designation,Age,City) values(@Name,@Designation,@Age,@City)
END
GO

# [dbo].[DeletedUsers]

In [0]:
/****** Object:  StoredProcedure [dbo].[DeletedUsers]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeletedUsers]
as begin 
select * from Users where IsActive=0;
end
GO

# [dbo].[DeleteUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteUser]
@Id int
as begin
UPDATE Users
SET IsActive = 0
WHERE Id=@Id;
end
GO

# [dbo].[GetAllUsers]

In [0]:
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SELECT *
    FROM [User].[dbo].[Users] where IsActive = 1;
END;
GO

# [dbo].[GetUserById]

In [0]:
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUserById]
@Id int
as begin
select * from Users where Id = @Id;
end
GO

# [dbo].[RestoreUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[RestoreUser]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RestoreUser]
@Id int
as begin 
update Users set IsActive=1 where Id=@Id;
end
GO

# [dbo].[UpdateUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 16-01-2024 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateUser](
@Id int,
@Name varchar(100),
@Designation varchar(100),
@Age int,
@City varchar(100)
)
as begin
Update [User].[dbo].[Users] 
set 
Name = @Name,Age=@Age,City=@City,Designation=@Designation where Id = @Id
END
GO